In [1]:
import pandas as pd
import numpy as np

In [13]:
#df = pd.read_csv('2020 Data Raw Water Quality.csv')
df = pd.read_csv('2022 Raw Water Parameter.csv')

In [14]:
columns = ['WTP','TestDate','RawWaterTotalViolation','wqc_raw_total_avg']

In [15]:
test = df[columns].copy()
kk = pd.pivot_table(test, index=['WTP','TestDate'] , columns=['RawWaterTotalViolation'], values=['wqc_raw_total_avg'])
kk.columns = kk.columns.droplevel(0)
k2 = kk.reset_index().rename_axis(None, axis=1)
k2.describe()

,Alkalinity,Aluminium (Al),Ammonia (NH4),Color,Combined Chlorine,E.coli,Ferum/Iron (Fe),Fluoride,Free Residual Chlorine,Kadar Aliran,Manganese (Mn),Odor,Taste,Total coliform,True Color,Turbidity,Weather,pH
count,209.000000,7499.000000,7499.000000,7499.000000,7499.0,7499.0,7499.000000,7499.000000,7499.0,7499.000000,7499.000000,7499.000000,7499.0,7499.000000,209.000000,7499.000000,7499.000000,7499.000000
mean,10.783493,0.028366,0.186384,104.430259,0.0,0.0,0.577025,0.037696,0.0,1341.494581,0.084217,0.000032,0.0,0.146993,33.828756,61.864918,0.080659,6.202082
std,1.321613,1.121824,0.291795,282.623058,0.0,0.0,0.752275,0.069495,0.0,3023.026742,0.151941,0.001600,0.0,12.702563,7.503917,116.961169,0.608210,1.628700
min,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
25%,10.150000,0.000000,0.030000,4.400000,0.0,0.0,0.050000,0.000000,0.0,0.000000,0.010000,0.000000,0.0,0.000000,29.330000,3.020000,0.000000,6.270000
50%,10.800000,0.000000,0.090000,13.420000,0.0,0.0,0.220000,0.000000,0.0,240.000000,0.040000,0.000000,0.0,0.000000,34.670000,11.590000,0.000000,6.580000
75%,11.600000,0.020000,0.230000,53.585000,0.0,0.0,0.930000,0.060000,0.0,1150.000000,0.110000,0.000000,0.0,0.000000,39.330000,69.135000,0.000000,6.880000
max,13.400000,97.000000,3.700000,4506.210000,0.0,0.0,14.260000,0.800000,0.0,23637.420000,5.440000,0.080000,0.0,1100.000000,50.330000,1892.040000,37.000000,8.520000

In [16]:
cdict = {
    'WTP':'wtp',
    'TestDate':'Date',
    'Aluminium (Al)':'Aluminium_avg',
    'Ammonia (NH4)':'Ammonia_avg',
    'Color':'Color_avg',
    'Combined Chlorine':'Chlorine_avg',
    'E.coli':'E.coli_avg',
    'Ferum/Iron (Fe)':'Iron_avg',
    'Fluoride':'Fluoride_avg',
    'Free Residual Chlorine':'FRChlorine_avg',
    'Kadar Aliran':'flow_rate_avg',
    'Manganese (Mn)':'Manganese_avg',
    'Odor':'Odor_avg',
    'Taste':'Taste_avg',
    'Total coliform':'Total_coliform_avg',
    'Turbidity':'Turbidity_avg',
    'Weather':'Weather_avg',
    'pH':'pH_avg'
}

In [17]:
k3 = k2.rename(columns=cdict)

In [20]:
k3.head(2)

,wtp,Date,Alkalinity,Aluminium_avg,Ammonia_avg,Color_avg,Chlorine_avg,E.coli_avg,Iron_avg,Fluoride_avg,FRChlorine_avg,flow_rate_avg,Manganese_avg,Odor_avg,Taste_avg,Total_coliform_avg,True Color,Turbidity_avg,Weather_avg,pH_avg
0,Ampang Intake,1/1/2022,NaN,0.08,1.01,612.92,0.0,0.0,0.72,0.0,0.0,497.08,0.0,0.0,0.0,0.0,NaN,122.58,0.0,6.34
1,Ampang Intake,1/10/2022,NaN,0.06,0.18,93.75,0.0,0.0,0.09,0.0,0.0,601.42,0.0,0.0,0.0,0.0,NaN,18.71,0.0,6.35

In [21]:
k3.to_csv('WQ_2022_Data.csv')